<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>		

<th:block layout:fragment="customContent">
	<form th:action="@{/addGoods}" method="post">
		
		<table border="1">
			<tr>
				<td>상품이름</td>
				<td>
					<input type="text" name="goodsName" placeholder="상품이름을 입력해주세요." />
				</td>
			</tr>
			<tr>
				<td>상품가격</td>
				<td>
					<input type="text" name="goodsPrice" placeholder="상품가격을 입력해주세요." />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="button" disabled="disabled"style="width: 100%">상품등록</button>
				</td>
			</tr>
		
		</table>
	</form>
</th:block>
</html>